n8n-workflows/wf1-quote-auto-reply.json
{
  "name": "BIH — Quote Auto-Reply",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "bih-quote",
        "responseMode": "onReceived",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "id": "f1a2b3c4-d5e6-7890-abcd-ef1234560001",
      "name": "Quote Webhook",
      "webhookId": "bih-quote-webhook-001"
    },
    {
      "parameters": {
        "fromEmail": "antonequipmentca@gmail.com",
        "toEmail": "antonequipmentca@gmail.com",
        "subject": "=🔔 New BIH Quote — {{ $json.body.name }}{{ $json.body.company ? ' / ' + $json.body.company : '' }}",
        "emailType": "html",
        "message": "=<div style=\"font-family:Arial,sans-serif;max-width:600px\">\n<h2 style=\"color:#1a1a1a;border-bottom:2px solid #ffc500;padding-bottom:8px\">New Quote Request</h2>\n<table style=\"width:100%;border-collapse:collapse\">\n<tr><td style=\"padding:8px 0;font-weight:bold;color:#555;width:120px\">Name</td><td style=\"padding:8px 0\">{{ $json.body.name }}</td></tr>\n<tr><td style=\"padding:8px 0;font-weight:bold;color:#555\">Company</td><td style=\"padding:8px 0\">{{ $json.body.company || '—' }}</td></tr>\n<tr><td style=\"padding:8px 0;font-weight:bold;color:#555\">Email</td><td style=\"padding:8px 0\"><a href=\"mailto:{{ $json.body.email }}\">{{ $json.body.email }}</a></td></tr>\n<tr><td style=\"padding:8px 0;font-weight:bold;color:#555\">Phone</td><td style=\"padding:8px 0\">{{ $json.body.phone || '—' }}</td></tr>\n<tr><td style=\"padding:8px 0;font-weight:bold;color:#555\">Product</td><td style=\"padding:8px 0\">{{ $json.body.product || '—' }}</td></tr>\n<tr><td style=\"padding:8px 0;font-weight:bold;color:#555\">Quantity</td><td style=\"padding:8px 0\">{{ $json.body.quantity || '—' }}</td></tr>\n<tr><td style=\"padding:8px 0;font-weight:bold;color:#555;vertical-align:top\">Message</td><td style=\"padding:8px 0\">{{ $json.body.message || '—' }}</td></tr>\n</table>\n<hr style=\"border:1px solid #eee;margin:20px 0\">\n<p style=\"color:#888;font-size:12px\">Reply directly to this email to respond to the customer.</p>\n</div>",
        "options": {
          "replyTo": "={{ $json.body.email }}"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [480, 300],
      "id": "f1a2b3c4-d5e6-7890-abcd-ef1234560002",
      "name": "Notify Owner",
      "credentials": {
        "smtp": {
          "id": "REPLACE_WITH_SMTP_CRED_ID",
          "name": "Gmail SMTP"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "info@borealironheavy.ca",
        "toEmail": "={{ $json.body.email }}",
        "subject": "=Your BIH Quote Request — {{ $json.body.product || 'Excavator Attachment' }}",
        "emailType": "html",
        "message": "=<div style=\"font-family:Arial,sans-serif;max-width:600px\">\n<div style=\"background:#1a1a1a;padding:24px 32px\">\n<p style=\"color:#ffc500;font-size:11px;letter-spacing:0.3em;text-transform:uppercase;margin:0 0 8px\">Boreal Iron Heavy</p>\n<h1 style=\"color:#ffffff;font-size:24px;margin:0;font-weight:900;text-transform:uppercase\">Inquiry Received</h1>\n</div>\n<div style=\"padding:32px;background:#fff;border:1px solid #eee\">\n<p style=\"color:#333\">Dear {{ $json.body.name }},</p>\n<p style=\"color:#555;line-height:1.8\">Thank you for your inquiry. Our engineering team in Shandong will review your requirements and respond within <strong>48 hours</strong> with:</p>\n<ul style=\"color:#555;line-height:2\">\n<li>Pricing in CAD</li>\n<li>Lead time (typically 6–10 weeks FOB Qingdao)</li>\n<li>Full technical specifications & mill certificates</li>\n</ul>\n<p style=\"color:#555;line-height:1.8\">In the meantime, you can explore our <a href=\"https://bih.yxj19980410.workers.dev/compatibility\" style=\"color:#1a1a1a\">OEM compatibility tool</a> to confirm fitment for your excavator.</p>\n<hr style=\"border:1px solid #eee;margin:24px 0\">\n<p style=\"color:#888;font-size:12px\">Boreal Iron Heavy Inc. · info@borealironheavy.ca<br>CE · ISO 9001 · EN 474 certified</p>\n</div>\n</div>",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [720, 300],
      "id": "f1a2b3c4-d5e6-7890-abcd-ef1234560003",
      "name": "Customer Auto-Ack",
      "credentials": {
        "smtp": {
          "id": "REPLACE_WITH_SMTP_CRED_ID",
          "name": "Gmail SMTP"
        }
      }
    },
    {
      "parameters": {
        "resume": "timeInterval",
        "amount": 48,
        "unit": "hours",
        "options": {}
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [960, 300],
      "id": "f1a2b3c4-d5e6-7890-abcd-ef1234560004",
      "name": "Wait 48h"
    },
    {
      "parameters": {
        "fromEmail": "antonequipmentca@gmail.com",
        "toEmail": "antonequipmentca@gmail.com",
        "subject": "=⚠️ 48h Follow-up — {{ $json.body.name }} has not been replied to",
        "emailType": "html",
        "message": "=<div style=\"font-family:Arial,sans-serif;max-width:600px\">\n<div style=\"background:#b91c1c;padding:16px 24px\">\n<h2 style=\"color:#fff;margin:0;font-size:18px\">⚠️ Follow-up Required</h2>\n</div>\n<div style=\"padding:24px;background:#fff;border:1px solid #eee\">\n<p style=\"color:#333\">48 hours have passed. Please respond to this customer:</p>\n<table style=\"width:100%;border-collapse:collapse;margin-top:12px\">\n<tr><td style=\"padding:6px 0;font-weight:bold;color:#555;width:100px\">Name</td><td>{{ $json.body.name }}</td></tr>\n<tr><td style=\"padding:6px 0;font-weight:bold;color:#555\">Company</td><td>{{ $json.body.company || '—' }}</td></tr>\n<tr><td style=\"padding:6px 0;font-weight:bold;color:#555\">Email</td><td><a href=\"mailto:{{ $json.body.email }}\">{{ $json.body.email }}</a></td></tr>\n<tr><td style=\"padding:6px 0;font-weight:bold;color:#555\">Product</td><td>{{ $json.body.product || '—' }}</td></tr>\n<tr><td style=\"padding:6px 0;font-weight:bold;color:#555\">Quantity</td><td>{{ $json.body.quantity || '—' }}</td></tr>\n</table>\n</div>\n</div>",
        "options": {
          "replyTo": "={{ $json.body.email }}"
        }
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [1200, 300],
      "id": "f1a2b3c4-d5e6-7890-abcd-ef1234560005",
      "name": "48h Reminder",
      "credentials": {
        "smtp": {
          "id": "REPLACE_WITH_SMTP_CRED_ID",
          "name": "Gmail SMTP"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Quote Webhook": {
      "main": [
        [
          {
            "node": "Notify Owner",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Notify Owner": {
      "main": [
        [
          {
            "node": "Customer Auto-Ack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Customer Auto-Ack": {
      "main": [
        [
          {
            "node": "Wait 48h",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 48h": {
      "main": [
        [
          {
            "node": "48h Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    { "name": "BIH" }
  ]
}
